
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
}

img {
    width: 150%;
    position: relative;
    left: -27%;
    margin-bottom: 10px;
}



.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#but-1 {
    /* width: 55px;
    height: 30px; */
    border-radius: 8px;
    border: 2px dotted rgb(184, 138, 0);
    background-color: rgb(250, 243, 117);
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;

}

#but-2 {
    height: 30px;
    border-radius: 8px;
    border: 2px dotted rgb(250, 243, 117);
    background-color: rgb(0, 0, 0);
    color:rgb(250, 243, 117);
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;

}

button:hover {
    box-shadow: 2px 5px 5px black;
}